*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
            outline: none !important;

    --white: white;
    --black: black;

    /* --color-1: #27104e;
    --color-2: #64379f;
    --color-3: #9854cb;
    --color-4: #ddacf5;
    --color-5: #75e8e7; */

    --color-1: #1e154e;
    --color-2: #150f37;
    --color-3: #d8d0ff;
    --color-3-1: #9e93d4;
    --color-4: #b0a2ff;
    --color-5: #7961ff;
    --color-5-1: #403298;
    --color-6: #f6656a;
    --color-6-1: #87373a;
    --color-6: #c53b40;
    --color-6-1: #4e181a;
    --color-7: #cbfdd3;
    --color-8: #242D40;
    --color-9: #9bb0db;
    --color-10: #03A9F4;
    --color-10-1: #00537a;
    --color-11: #179144;
    --color-11-1: #0b4a22;
    --color-12: #8034AE;
    --color-12-1: #481e62;
    --color-14: #F7F400;
    --color-14-1: #817e00;
    --color-15: #1773EA;
    --color-15-1: #10458b;
}

body{
    width: 100%;
    overflow-x: hidden;
    font-family: "Sofia Pro";
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: var(--color-2);
    background: var(--black);
}

header{
    padding: 15px;
}

#header-title{
    font-family: "Recoleta";
    font-weight: 600;
    font-size: 25px;
    color: var(--color-3);
    color: var(--white);
    color: var(--color-6);
}

#div-1{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#youtube-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    width: 80% ;
    overflow: hidden;
    background: var(--color-2);
    padding: 20px;
    border-radius: 10px;
    color: var(--color-3);
    z-index: 10;
}

#thumbnail-div{
    margin: 10px;
    width: 50%;
    overflow: hidden;
}

#yt-thumb{
    width: 100%;
    border-radius: 5px;
}

#yt-details-div{
    padding: 30px;
}

#yt-title{
    font-size: 30px;
    font-weight: 600;
}

#yt-description{
    font-size: 20px;
    font-weight: 300;
    color: var(--color-3-1);
}

#yt-bt-div{
    transition: 0.1s ease;
    margin-top: 50px;
    background: var(--color-6);
    width: max-content;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 0px 0px var(--color-6-1);
    color: var(--white);
    font-weight: 500;
    cursor: pointer;
}

#yt-bt-div:active, #yt-bt-div:focus{
    box-shadow: none;
    translate: 0px 5px;
}

#yt-head{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-bottom: -14px;
    z-index: 1000;
    /* align-items: center; */
    /* justify-content: center; */
}

#yt-head-1{
    background: var(--color-5);
    color: var(--black);
    padding: 8px;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 600;
}

#div-2{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 50px 10% 50px 10%;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

#tweet-wrap, #social-wrap, #bio-wrap{
    width: 100%;
    height: max-content;
}

#tweet-wrap{
    position: relative;
    background: var(--color-8);
    border-radius: 15px;
    padding: 25px;
    padding-top: 35px;
}

#d2-t-icon{
    height: 35px;
    position: absolute;
    top: -15px;
    left: 25px;
}

#tweet-text{
    color: var(--color-7);
    color: var(--white);
    font-weight: 300;
    font-size: 14px;
}

#twt-name{
    margin-top: 20px;
    font-weight: 600;
    color: var(--color-10);
}

#tweet-wrap a{
    text-decoration: none;
}

#social-wrap{
    border-radius: 10px;
    background: var(--color-1);
    padding: 20px;
    color: var(--color-3);
    margin-top: 50px;
}

#soc-snap{
    padding: 10px;
    height: 70px;
    filter: drop-shadow(0px 5px 0px var(--black));
}

.soc-button{
    transition: 0.1s ease;
    padding: 10px;
    background: var(--color-6);
    width: max-content;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    margin-top: 25px;
    box-shadow: 0px 5px 0px var(--color-6-1);
    font-weight: 500;
    color: var(--white);
    cursor: pointer;
}

.soc-button:nth-child(1){
    background: var(--color-11);
    box-shadow: 0px 5px 0px var(--color-11-1);
}

.soc-button:nth-child(2){
    background: var(--color-12);
    box-shadow: 0px 5px 0px var(--color-12-1);
}

.soc-button:nth-child(3){
    background: var(--color-10);
    box-shadow: 0px 5px 0px var(--color-10-1);
}

.soc-button:nth-child(4){
    background: var(--color-14);
    box-shadow: 0px 5px 0px var(--color-14-1);
    color: var(--black);
}

.soc-button:nth-child(5){
    background: var(--color-15);
    box-shadow: 0px 5px 0px var(--color-15-1);
}


.soc-button:active, .soc-button:focus{
    box-shadow: none;
    translate: 0px 5px;
}


#bio-wrap{
    position: relative;
    background: var(--color-5-1);
    background: #afaffc;
    border-radius: 15px;
    padding-top: 20px;
    overflow: hidden;
}

#bio-img-div{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

#bio-img{
    width: 100%;
    border-radius: 0px;
    filter:saturate(0.9) hue-rotate(40deg);
    position: inherit;
    z-index: 10;
    padding-top: 10px;
}

#bio-img-text{
    font-size: 100px;
    font-weight: 800;
    font-family: "Recoleta";
    color: var(--white);
    padding-bottom: 60px;
    position: absolute;
    top: 0px;
    z-index: 1;
}

#bio-text-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bio-info{
    padding: 25px;
    font-size: 18px;
    color: var(--color-5-1);
    font-weight: 500;
}

#read-more-div{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 200px;
    background: linear-gradient(360deg, var(--color-4) 40%, rgba(0,0,0,0) 100%);
    cursor: pointer;
}

#read-more{
    font-size: 30px;
    padding-bottom: 30px;
    font-weight: 600;
    color: var(--color-5-1);
}