@font-face {
    font-family: 'Recoleta';
    src: url('Recoleta-Regular.eot');
    src: local('Recoleta Regular'), local('Recoleta-Regular'),
        url('Recoleta-Regular.eot?#iefix') format('embedded-opentype'),
        url('Recoleta-Regular.woff') format('woff'),
        url('Recoleta-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('RecoletaAlt-Medium.eot');
    src: local('Recoleta Alt Medium'), local('RecoletaAlt-Medium'),
        url('RecoletaAlt-Medium.eot?#iefix') format('embedded-opentype'),
        url('RecoletaAlt-Medium.woff') format('woff'),
        url('RecoletaAlt-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('RecoletaAlt-Black.eot');
    src: local('Recoleta Alt Black'), local('RecoletaAlt-Black'),
        url('RecoletaAlt-Black.eot?#iefix') format('embedded-opentype'),
        url('RecoletaAlt-Black.woff') format('woff'),
        url('RecoletaAlt-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta';
    src: url('Recoleta-Medium.eot');
    src: local('Recoleta Medium'), local('Recoleta-Medium'),
        url('Recoleta-Medium.eot?#iefix') format('embedded-opentype'),
        url('Recoleta-Medium.woff') format('woff'),
        url('Recoleta-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('RecoletaAlt-Thin.eot');
    src: local('Recoleta Alt Thin'), local('RecoletaAlt-Thin'),
        url('RecoletaAlt-Thin.eot?#iefix') format('embedded-opentype'),
        url('RecoletaAlt-Thin.woff') format('woff'),
        url('RecoletaAlt-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta';
    src: url('Recoleta-Thin.eot');
    src: local('Recoleta Thin'), local('Recoleta-Thin'),
        url('Recoleta-Thin.eot?#iefix') format('embedded-opentype'),
        url('Recoleta-Thin.woff') format('woff'),
        url('Recoleta-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('RecoletaAlt-SemiBold.eot');
    src: local('Recoleta Alt SemiBold'), local('RecoletaAlt-SemiBold'),
        url('RecoletaAlt-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('RecoletaAlt-SemiBold.woff') format('woff'),
        url('RecoletaAlt-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('RecoletaAlt-Bold.eot');
    src: local('Recoleta Alt Bold'), local('RecoletaAlt-Bold'),
        url('RecoletaAlt-Bold.eot?#iefix') format('embedded-opentype'),
        url('RecoletaAlt-Bold.woff') format('woff'),
        url('RecoletaAlt-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta';
    src: url('Recoleta-Black.eot');
    src: local('Recoleta Black'), local('Recoleta-Black'),
        url('Recoleta-Black.eot?#iefix') format('embedded-opentype'),
        url('Recoleta-Black.woff') format('woff'),
        url('Recoleta-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta';
    src: url('Recoleta-SemiBold.eot');
    src: local('Recoleta SemiBold'), local('Recoleta-SemiBold'),
        url('Recoleta-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Recoleta-SemiBold.woff') format('woff'),
        url('Recoleta-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta';
    src: url('Recoleta-Bold.eot');
    src: local('Recoleta Bold'), local('Recoleta-Bold'),
        url('Recoleta-Bold.eot?#iefix') format('embedded-opentype'),
        url('Recoleta-Bold.woff') format('woff'),
        url('Recoleta-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('RecoletaAlt-Light.eot');
    src: local('Recoleta Alt Light'), local('RecoletaAlt-Light'),
        url('RecoletaAlt-Light.eot?#iefix') format('embedded-opentype'),
        url('RecoletaAlt-Light.woff') format('woff'),
        url('RecoletaAlt-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('RecoletaAlt-Regular.eot');
    src: local('Recoleta Alt Regular'), local('RecoletaAlt-Regular'),
        url('RecoletaAlt-Regular.eot?#iefix') format('embedded-opentype'),
        url('RecoletaAlt-Regular.woff') format('woff'),
        url('RecoletaAlt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta';
    src: url('Recoleta-Light.eot');
    src: local('Recoleta Light'), local('Recoleta-Light'),
        url('Recoleta-Light.eot?#iefix') format('embedded-opentype'),
        url('Recoleta-Light.woff') format('woff'),
        url('Recoleta-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* This stylesheet generated by Transfonter (https://transfonter.org) on December 7, 2017 3:12 PM */

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaProBold.eot');
    src: local('Sofia Pro Bold'), local('SofiaProBold'),
        url('SofiaProBold.eot?#iefix') format('embedded-opentype'),
        url('SofiaProBold.woff') format('woff'),
        url('SofiaProBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaProExtraLight.eot');
    src: local('Sofia Pro ExtraLight'), local('SofiaProExtraLight'),
        url('SofiaProExtraLight.eot?#iefix') format('embedded-opentype'),
        url('SofiaProExtraLight.woff') format('woff'),
        url('SofiaProExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaProBold-Italic.eot');
    src: local('Sofia Pro Bold Italic'), local('SofiaProBold-Italic'),
        url('SofiaProBold-Italic.eot?#iefix') format('embedded-opentype'),
        url('SofiaProBold-Italic.woff') format('woff'),
        url('SofiaProBold-Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaProRegular.eot');
    src: local('Sofia Pro Regular'), local('SofiaProRegular'),
        url('SofiaProRegular.eot?#iefix') format('embedded-opentype'),
        url('SofiaProRegular.woff') format('woff'),
        url('SofiaProRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaProMedium-Italic.eot');
    src: local('Sofia Pro Medium Italic'), local('SofiaProMedium-Italic'),
        url('SofiaProMedium-Italic.eot?#iefix') format('embedded-opentype'),
        url('SofiaProMedium-Italic.woff') format('woff'),
        url('SofiaProMedium-Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaProExtraLight-Italic.eot');
    src: local('Sofia Pro ExtraLight Italic'), local('SofiaProExtraLight-Italic'),
        url('SofiaProExtraLight-Italic.eot?#iefix') format('embedded-opentype'),
        url('SofiaProExtraLight-Italic.woff') format('woff'),
        url('SofiaProExtraLight-Italic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaProMedium.eot');
    src: local('Sofia Pro Medium'), local('SofiaProMedium'),
        url('SofiaProMedium.eot?#iefix') format('embedded-opentype'),
        url('SofiaProMedium.woff') format('woff'),
        url('SofiaProMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaProUltraLight-Italic.eot');
    src: local('Sofia Pro UltraLight Italic'), local('SofiaProUltraLight-Italic'),
        url('SofiaProUltraLight-Italic.eot?#iefix') format('embedded-opentype'),
        url('SofiaProUltraLight-Italic.woff') format('woff'),
        url('SofiaProUltraLight-Italic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaProLight-Italic.eot');
    src: local('Sofia Pro Light Italic'), local('SofiaProLight-Italic'),
        url('SofiaProLight-Italic.eot?#iefix') format('embedded-opentype'),
        url('SofiaProLight-Italic.woff') format('woff'),
        url('SofiaProLight-Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaProBlack.eot');
    src: local('Sofia Pro Black'), local('SofiaProBlack'),
        url('SofiaProBlack.eot?#iefix') format('embedded-opentype'),
        url('SofiaProBlack.woff') format('woff'),
        url('SofiaProBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaProUltraLight.eot');
    src: local('Sofia Pro UltraLight'), local('SofiaProUltraLight'),
        url('SofiaProUltraLight.eot?#iefix') format('embedded-opentype'),
        url('SofiaProUltraLight.woff') format('woff'),
        url('SofiaProUltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaProBlack-Italic.eot');
    src: local('Sofia Pro Black Italic'), local('SofiaProBlack-Italic'),
        url('SofiaProBlack-Italic.eot?#iefix') format('embedded-opentype'),
        url('SofiaProBlack-Italic.woff') format('woff'),
        url('SofiaProBlack-Italic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro Semi';
    src: url('SofiaProSemiBold-Italic.eot');
    src: local('Sofia Pro Semi Bold Italic'), local('SofiaProSemiBold-Italic'),
        url('SofiaProSemiBold-Italic.eot?#iefix') format('embedded-opentype'),
        url('SofiaProSemiBold-Italic.woff') format('woff'),
        url('SofiaProSemiBold-Italic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaProLight.eot');
    src: local('Sofia Pro Light'), local('SofiaProLight'),
        url('SofiaProLight.eot?#iefix') format('embedded-opentype'),
        url('SofiaProLight.woff') format('woff'),
        url('SofiaProLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro Semi';
    src: url('SofiaProSemiBold.eot');
    src: local('Sofia Pro Semi Bold'), local('SofiaProSemiBold'),
        url('SofiaProSemiBold.eot?#iefix') format('embedded-opentype'),
        url('SofiaProSemiBold.woff') format('woff'),
        url('SofiaProSemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaProRegular-Italic.eot');
    src: local('Sofia Pro Regular Italic'), local('SofiaProRegular-Italic'),
        url('SofiaProRegular-Italic.eot?#iefix') format('embedded-opentype'),
        url('SofiaProRegular-Italic.woff') format('woff'),
        url('SofiaProRegular-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
