/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

@media (max-width:425px){

    body{
        font-size: 16px;
        width: 100%;
        overflow-x: hidden !important;
        padding: 50px 20px 50px 20px;
    }


    .grid-div{
        overflow-x: scroll;
    }

    table{
        font-size: 16px;
    }

    .p-img-div{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .p-img-div > img{
        padding-bottom: 20px;
        width: 100%;
    }

    .p-img-div > p{
        padding: 0;
    }
}