@media (max-width:425px){

    body{
        font-size: 16px;
        width: 100%;
        overflow-x: hidden !important;
        padding: 50px 20px 50px 20px;
    }


    .grid-div{
        overflow-x: scroll;
    }

    table{
        font-size: 16px;
    }

    .p-img-div{
        flex-direction: column;
    }

    .p-img-div > img{
        padding-bottom: 20px;
        width: 100%;
    }

    .p-img-div > p{
        padding: 0;
    }
}