*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
            outline: none !important;

    --white: white;
    --black: black;

    --color-1: #1e154e;
    --color-2: #150f37;
    --color-3: #d8d0ff;
    --color-3-1: #9e93d4;
    --color-4: #b0a2ff;
    --color-5: #7961ff;
    --color-5-1: #403298;
    --color-6: #f6656a;
    --color-6-1: #87373a;
    --color-6: #c53b40;
    --color-6-1: #4e181a;
    --color-7: #cbfdd3;
    --color-8: #242D40;
    --color-9: #9bb0db;
    --color-10: #03A9F4;
    --color-10-1: #00537a;
    --color-11: #179144;
    --color-11-1: #0b4a22;
    --color-12: #8034AE;
    --color-12-1: #481e62;
    --color-14: #F7F400;
    --color-14-1: #817e00;
    --color-15: #1773EA;
    --color-15-1: #10458b;
    --color-16: #100b29;
    --color-17: #160f3a;
    --color-18: #1e1351;
}

body{
    width: 100%;
    overflow-x: hidden;
    font-family: "Lora";
    font-weight: 100;
    min-height: 100vh;
    background: var(--color-16);
    color: var(--white);
    padding: 50px 20% 50px 20%;
    line-height: 28px;
    font-size: 16px;
    text-align: justify;
}

.space-one{
    width: 10px;
    height: 70px;
}

.space-two{
    width: 10px;
    height: 20px;
}

.space-three{
    width: 10px;
    height: 100px;
}

h3{
    margin-bottom: 10px;
}

table{
    border-collapse: collapse;
    white-space: nowrap;
}

th, td{
    border: 1px solid var(--white);
    background: var(--color-17);
}

th{
    text-align: center;
    font-weight: 600;
    padding: 5px 10px;
    background: var(--color-18);
}

td{
    padding: 5px 10px;
    
}

img{
    width: 50%;
    align-self: center;
}

.p-img-div{
    display: flex;
    flex-direction: row;
}

.p-img-div > p{
    padding-top: 0;
    padding-right: 20px;
    padding-left: 20px;
}

.back-to-main{
    font-family: sans-serif;
    padding: 5px 20px;
    background: #403298;
    max-width: max-content;
    border-radius: 5px;
    cursor: pointer;
}