/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
            outline: none !important;

    --white: white;
    --black: black;

    --color-1: #1e154e;
    --color-2: #150f37;
    --color-3: #d8d0ff;
    --color-3-1: #9e93d4;
    --color-4: #b0a2ff;
    --color-5: #7961ff;
    --color-5-1: #403298;
    --color-6: #f6656a;
    --color-6-1: #87373a;
    --color-6: #c53b40;
    --color-6-1: #4e181a;
    --color-7: #cbfdd3;
    --color-8: #242D40;
    --color-9: #9bb0db;
    --color-10: #03A9F4;
    --color-10-1: #00537a;
    --color-11: #179144;
    --color-11-1: #0b4a22;
    --color-12: #8034AE;
    --color-12-1: #481e62;
    --color-14: #F7F400;
    --color-14-1: #817e00;
    --color-15: #1773EA;
    --color-15-1: #10458b;
    --color-16: #100b29;
    --color-17: #160f3a;
    --color-18: #1e1351;
}

body{
    width: 100%;
    overflow-x: hidden;
    font-family: sans-serif;
    font-weight: 100;
    min-height: 100vh;
    background: var(--color-3);
    color: var(--color-18);
    padding: 50px 20% 50px 20%;
    line-height: 28px;
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#main{
    width: 80%;
}

#div-1 > #update-div{
    padding: 5px 30px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    background: var(--color-5);
    color: var(--white);
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 0px var(--color-5-1);
            box-shadow: 0px 5px 0px var(--color-5-1);
    font-weight: 600;
    border: none;
    outline: none;
    margin-top: 10px;
    -webkit-transition: 0.1s ease;
    transition: 0.1s ease;
    cursor: pointer;
}

#div-1 > #update-div:active{
    -webkit-box-shadow: none;
            box-shadow: none;
    translate: 0px 5px;
}

#gap-1{
    height: 50px;
    width: 10px;
}

#div-2{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.card{
    padding: 20px;
    background: var(--color-4);
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.p-1{
    font-size: 15px;
}

.p-2{
    font-size: 50px;
    font-weight: 800;
    padding: 10px;
    padding-left: 0;
}

.p-3{
    margin-top: 10px;
    border: none;
    padding: 10px;
    background: var(--color-5);
    color: var(--white);
    font-weight: 400;
    border-radius: 5px;
}

.p-4{
    margin-top: 10px;
}

.p-4-1, .p-4-2{
    padding: 10px 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-shadow: 0px 5px 0px var(--color-5);
            box-shadow: 0px 5px 0px var(--color-5);
    -webkit-transition: 0.1s ease;
    transition: 0.1s ease;
}

.p-4-1:focus, .p-4-2:focus, .p-4-1:active, .p-4-2:active{
    -webkit-box-shadow: none;
            box-shadow: none;
    translate: 0px 5px;
}