@media (max-width:425px){

    body{
        width: 100%;
        padding: 50px 10% 50px 10%;
    }

    #main{
        width: 100%;
    }

    #div-2{
        flex-direction: column;
    }

    .card{
        width: 100%;
        margin-bottom: 50px;
    }

    .card > .p-2{
        margin-top: 10px;
    }

    .card > .p-3 {
        margin-top: 30px;
    }

}