/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

@media (max-width:425px){

    body{
        width: 100%;
        padding: 50px 10% 50px 10%;
    }

    #main{
        width: 100%;
    }

    #div-2{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .card{
        width: 100%;
        margin-bottom: 50px;
    }

    .card > .p-2{
        margin-top: 10px;
    }

    .card > .p-3 {
        margin-top: 30px;
    }

}